<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
      <h2>ProductApp</h2>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn btn-light ms-2" routerLink="register">Register</button>
                <button class="btn btn-light ms-3" routerLink="login">Login</button>
                <button class="btn btn-light ms-3">Add to Cart</button>
            </div>
        </div>
    </div>
  </nav>
<!-- <mat-toolbar color="primary">
    <span>Product App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="register">Register</button>
    <span class="example-spacer"></span>
    <button mat-raised-button color="accent" routerLink="login">Login</button>
</mat-toolbar>-->
<!-- <app-dashboard></app-dashboard>  -->
