

<!-- <div class ="card" *ngFor="let product of products ">
        <h1>{{product.id}}</h1>
        <h1>{{product.name}}</h1>
        <h1>{{product.rating}}</h1>
    </div> -->
<div class="card-layout">
    
    <div class="card" *ngFor="let product of products" style="width: 18rem;">
      <div class="img-layout">
        <img  src= {{product.imagePath}} class="card-img-top" alt="...">
      </div>
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <h5 class="card-title">{{product.description}}</h5>
          <h5 class="card-title">{{product.price}}</h5>

          <h5 class="card-title"></h5>
          <a href="#" class="btn btn-primary">Buy Now</a>
          
        </div>
      </div>
</div>


